@import "tailwindcss";

:root {
    /* background  */
  --bg-main : #1D293D;
  --bg-sidebar : #111B3C;
  --bg-box : #0F172B80;

  /* Gradients */
  --bg-gradient-main: linear-gradient(
    180deg,
    #00FF88 0%,
    #00D4FF 100%
  );


  --menu-shadow:
    10px 3px 20px rgba(0, 0, 0, 0.08),
    0px 3px 20px rgba(0, 0, 0, 0.08),
    inset 0px 1px 4px rgba(255, 255, 255, 0.4);
}

/* utility classes */
.bg-main {
    background-color: var(--bg-main);
}

.bg-sidebar {
    background-color: var(--bg-sidebar);
}

.logo-background {
    background: var(--bg-gradient-main);
}

.text-sm {
    font-size: 16px;
}

.menu-shadow {
  box-shadow: var(--menu-shadow);
}

.bg-box{
    background-color: var(--bg-box);
}